/*Centers all content such as head, footer, and all sections to center of page*/
.container{
    display: flex;
    width: 60%;
    padding-left: 2.5%;
    padding-right: 2.5%;
    margin: auto;
}

.container-body{
    display: flex;
    width: 100%;
}

.header-list{
    font-size: 20px;
    font-weight: 500;
    width: 100%;
    text-align: center;
}

.header-color{
    background-color: #eee;
}

/*all <a> elements in document will not have any text decorations*/
a{
    text-decoration: none;
}

/*Changes all h2, h3, and h4 tags to have following text properties*/
h2, h3, h4{
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    color: white;
}

/*Change body elements style*/
body{
    color: black;
    font-weight: 300;
    font-size: 16px;
    line-height: 22px;
    font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;

}

/*Changes <p> elements to following color*/
p{
    color: #848484
}

/*Change <aside> elements style to following color*/
aside{
 color: #848484
}

/*Change style of footer*/
footer{
    width: 75%;
    background-color: black;
    border-top-style: solid;
    border-top: 1px rgba(0,0,0,0.085);
    box-shadow: 0px 1px 0px rgba(255,255,255,0.8);
}

/*Changes the last <li> elements in the header*/
.alt-link{
    background-color: black;

}

/*Changes <a> element in last list tag in header to white*/
.alt-link a{
    color: white;
}

/*Sets list elements in header to display inline*/
header li{
    display: inline-flex;
}

/*When list elements in header get hovered over by mouse they display styler*/
header li:hover{
    box-shadow: 0px 3px 0px 0px #45a2da;
    color: 45a2da;
}

/*Changes style for <a> elements insdie header*/
header li a{
    color: black;
}

header h1{
    color: #45a2da;
}

footer a{
    color: white;
}

#color-white{
    color: white;
}

.container-one-third{
    width: 33%;
}

.container-one-half{
    width: 50%;
}

*[class*='container-'] img{
    width: 100%;
}

.inline-links li{
    display: inline;
}

footer li:hover{
    box-shadow: 0px 3px 0px 0px #45a2da;
    color: 45a2da;
}



.bodycolor{
    width: 60%;
    background-color: #eee;
    padding-left: 2.5%;
    padding-right: 2.5%;
    margin: auto;
}

.container-one-third img{
    width: 95%;
}

.first-section{
    opacity: 1.0;
    margin-left: -2.5%;
    animation:fadein 15s ease 0s infinite normal;
}

.second-section{
    position: absolute;
    width: 59.5%;
    top: 11.5%;
    margin-left: -2.5%;
    opacity: 0.0;
    animation:fadein 15s ease 5s infinite normal;
}

.third-section{
    position: absolute;
    width: 59%;
    top: 11.5%;
    left: 18%;
    opacity: 0.0;
    animation:fadein 15s ease 10s infinite normal;
}

@keyframes fadein{
    17% {
    opacity:1.0;
    }
    25%{
    opacity: 0;
    }
    92%{
    opacity:0;
    }
}

/*THIS IS IF THE THE WINDOW IS 450px OR SMALLER*/
@media all and (max-width: 450px){
    .container{
    flex-direction: column;
    }

    *[class*='container-one-half'] img{
        display: none;
    }

    .container-one-half{
    width: 100%;
    }

     *[class*='container-one-third'] img{
        width: 75%;
    }

    .container-one-third{
    width: 100%;
    }
}




