/*Centers all content such as head, footer, and all sections to center of page*/
.container{
    display: flex;
    width: 960px;
    padding-left: 30px;
    padding-right: 30px;
    margin: auto;
}

/*all <a> elements in document will not have any text decorations*/
a{
    text-decoration: none;
}

/*Changes all h2, h3, and h4 tags to have following text properties*/
h2, h3, h4{
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    color: white;
}

/*Change body elements style*/
body{
    color: black;
    font-weight: 300;
    font-size: 16px;
    line-height: 22px;
    font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif
}

/*Changes <p> elements to following color*/
p{
    color: #848484
}

/*Change <aside> elements style to following color*/
aside{
 color: #848484
}

/*Change style of footer*/
footer{
    background-color: black;
    border-top-style: solid;
    border-top: 1px rgba(0,0,0,0.085);
    box-shadow: 0px 1px 0px rgba(255,255,255,0.8);
}

/*Changes the last <li> elements in the header*/
.alt-link{
    background-color: black;
}

/*Changes <a> element in last list tag in header to white*/
.alt-link a{
    color: white;
}

/*Sets list elements in header to display inline*/
header li{
    display: inline;
}

/*When list elements in header get hovered over by mouse they display styler*/
header li:hover{
    box-shadow: 0px 3px 0px 0px #45a2da;
    color: 45a2da;
}

/*Changes style for <a> elements insdie header*/
header li a{
    color: black;
}

header h1{
    color: #45a2da;
}

footer a{
    color: white;
}

#color-white{
    color: white;
}

.container-one-third{
    width: 33%;
}

.container-one-half{
    width: 50%;
}

.container-one-half>img{
    width: 100%;
}



